<footer>
	<!-- Required Jquery -->
    <script th:src="@{/assets/js/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/jquery-ui/jquery-ui.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/popper.js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
	<!-- waves js -->
    <script th:src="@{/assets/pages/waves/js/waves.min.js}"></script>
	<!-- jquery slimscroll js -->
    <script th:src="@{/assets/js/jquery-slimscroll/jquery.slimscroll.js}" type="text/javascript"></script>
	<!-- notification js -->
    <script th:src="@{/assets/js/bootstrap-growl.min.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/pcoded.min.js}"></script>
    <script th:src="@{/assets/js/vertical/vertical-layout.min.js}"></script>
    <script th:src="@{/assets/js/jquery.mCustomScrollbar.concat.min.js}"></script>
	<!-- Custom js -->
    <script th:src="@{/assets/js/script.min.js}" type="text/javascript"></script>
</footer>
