<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="Codedthemes" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link th:href="@{/assets/images/favicon.ico}" rel="icon" type="image/x-icon">
	<!-- Required Fremwork -->
    <link th:href="@{/assets/css/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<!-- waves.css -->
    <link th:href="@{/assets/pages/waves/css/waves.min.css}" rel="stylesheet" type="text/css" media="all">
	<!-- themify-icons line icon -->
    <link th:href="@{/assets/icon/themify-icons/themify-icons.css}" rel="stylesheet" type="text/css">
	<!-- ico font -->
    <link th:href="@{/assets/icon/icofont/css/icofont.css}" rel="stylesheet" type="text/css">
	<!-- Font Awesome -->
    <link th:href="@{/assets/icon/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">
	<!-- Notification.css -->
    <link th:href="@{/assets/pages/notification/notification.css}" rel="stylesheet" type="text/css">
	<!-- Animate.css -->
    <link th:href="@{/assets/css/animate.css/css/animate.css}" rel="stylesheet" type="text/css">
	<!-- Style.css -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/jquery.mCustomScrollbar.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/icon/feather/css/feather.css}" rel="stylesheet" type="text/css">
</head>
</html>
