<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{plantillaTema/header}">

<head>
    <title>Cliente - Registro</title>
</head>

<body>
	<!-- PLANTILLA RELOAD -->
	<div th:replace="plantillaTema/preloader :: div"></div>
	
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            
			<!-- PLANTILLA BARRA DE NAVEGACIÓN SUPERIOR -->
            <nav layout:fragment="navbar" th:replace="plantillaTema/navbar :: nav"></nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
					
					<!-- PLANTILLA SIDEBAR IZQUIERDO -->
					<nav layout:fragment="sidebar" th:replace="plantillaTema/sidebar :: nav"></nav>
					
                    <div class="pcoded-content">
						
						
						
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Registrar Cliente</h5>
                                            <p class="m-b-0">Bienvenido a la sección de clientes</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="index"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Cliente - Registro</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
						
						
						
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Aquí puedes agregar o editar el clientes</h5>
                                                        <span></span>
                                                        
														<!-- PLANTILLA DE OPCIONES -->
														<div th:replace="plantillaTema/options :: div"></div>

														
														
														<!-- INICIO -->
														<form 
														    th:action="@{/insertarcliente}" 
														    th:object="${nuevoCliente}"
														    class="form-material"
														    method="post">
														    
														    <div class="card-block tooltip-icon button-list">
														        <div class="row">
														            <div class="col-md-6">
														                <div class="input-group">
														                    <input type="text" 
														                           class="form-control" 
														                           placeholder="Nombre" 
														                           title="Ingrese el nombre" 
														                           data-toggle="tooltip"
														                           th:field="*{nombre}"
														                           pattern="[a-zA-Z\s]+" 
														                           oninput="this.setCustomValidity('')" 
														                           oninvalid="this.setCustomValidity('Por favor, ingrese solo letras.')" 
														                           required>
														                </div>
														            </div>
														            
														            <div class="col-md-6">
														                <div class="input-group">
														                    <input type="text" 
														                           class="form-control" 
														                           placeholder="Apellido" 
														                           title="Ingrese el apellido" 
														                           data-toggle="tooltip"
														                           th:field="*{apellido}"
														                           pattern="[a-zA-Z\s]+" 
														                           oninput="this.setCustomValidity('')" 
														                           oninvalid="this.setCustomValidity('Por favor, ingrese solo letras.')" 
														                           required>
														                </div>
														            </div>
														        </div>
														        
														        <div class="row mt-3">
														            <div class="col-md-6">
														                <div class="input-group">
														                    <input type="email" 
														                           class="form-control" 
														                           placeholder="Correo" 
														                           title="Ingrese el correo electrónico" 
														                           data-toggle="tooltip"
														                           th:field="*{correo}"
														                           oninput="this.setCustomValidity('')" 
														                           oninvalid="this.setCustomValidity('Por favor, ingrese un correo válido.')" 
														                           required>
														                </div>
														            </div>
														            
														            <div class="col-md-6">
														                <div class="input-group">
														                    <input type="text" 
														                           class="form-control" 
														                           placeholder="Dirección de domicilio" 
														                           title="Ingrese la dirección de domicilio" 
														                           data-toggle="tooltip"
														                           th:field="*{direccion}"
														                           required>
														                </div>
														            </div>
														        </div>

														        <div class="row mt-3">
														            <div class="col-md-4">
														                <div class="input-group">
														                    <input type="date" 
														                           class="form-control" 
														                           placeholder="Fecha de nacimiento" 
														                           title="Ingrese la fecha de nacimiento" 
														                           data-toggle="tooltip"
														                           th:field="*{fechaNacimiento}" 
														                           required>
														                </div>
														            </div>
														            
														            <div class="col-md-4">
														                <div class="input-group">
														                    <input type="text" 
														                           class="form-control" 
														                           placeholder="Cédula de identidad" 
														                           title="Ingrese la cédula de identidad (10 números)" 
														                           data-toggle="tooltip"
														                           maxlength="10"
														                           pattern="\d{10}"
														                           oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);"
														                           th:field="*{cedulaIdentidad}"
														                           required>
														                </div>
														            </div>
														            
														            <div class="col-md-4">
														                <div class="input-group">
														                    <input type="text" 
														                           class="form-control" 
														                           placeholder="Teléfono" 
														                           title="Ingrese el número de teléfono (10 números)" 
														                           data-toggle="tooltip"
														                           maxlength="10"
														                           pattern="\d{10}"
														                           oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);"
														                           th:field="*{telefono}"
														                           required>
														                </div>
														            </div>
														        </div>

														        <div class="checkbox-fade fade-in-primary mt-3">
														            <input type="checkbox" value="" th:field="*{estado}">
														            ¿Está activo?
														        </div>
														        
														        <hr>
														        
														        <button class="btn waves-effect waves-light btn-primary btn-outline-primary" data-type="inverse" data-from="top" data-align="center" data-icon="fa fa-comments">
														            <i class="fa fa-save"></i>
														            Guardar
														        </button>
														        
														        <!-- Importante para hacer el update (reconoce si es insert o update) -->
														        <input type="hidden" th:field="*{idCliente}">
														    </div>
														</form>
														<!-- FIN -->
														
														
													
													</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
    
	<!-- PLANTILLA JQUERY EN EL FOOTER -->
	<footer layout:fragment="footer" th:replace="plantillaTema/footer :: footer"></footer>
</body>

</html>