<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{plantillaTema/header}">

<head>
    <title>Index</title>
</head>

<body>
	<!-- PLANTILLA RELOAD -->
	<div th:replace="plantillaTema/preloader :: div"></div>
		
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
			
			<!-- PLANTILLA BARRA DE NAVEGACIÓN SUPERIOR -->
            <nav layout:fragment="navbar" th:replace="plantillaTema/navbar :: nav"></nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    
					<!-- SIDEBAR IZQUIERDO -->
					<nav class="pcoded-navbar">
					    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
					    <div class="pcoded-inner-navbar main-menu">
					        <div class="">
					            <div class="main-menu-header">
					                <img class="img-80 img-radius" src="assets/images/avatar-4.jpg" alt="User-Profile-Image">
					                <div class="user-details">
					                    <span id="more-details">Cristhian Mora<i class="fa fa-caret-down"></i></span>
					                </div>
					            </div>
					            <div class="main-menu-content">
					                <ul>
					                    <li class="more-details">
					                        <a href="user-profile"><i class="ti-user"></i>Ver Perfil</a>
					                        <a href="#!"><i class="ti-settings"></i>Configuración</a>
					                        <a href="ingreso"><i class="ti-layout-sidebar-left"></i>Salir</a>
					                    </li>
					                </ul>
					            </div>
					        </div>
					        <div class="p-15 p-b-0">
					            <form class="form-material">
					                <div class="form-group form-primary">
					                    <input type="text" name="footer-email" class="form-control">
					                    <span class="form-bar"></span>
					                    <label class="float-label"><i class="fa fa-search m-r-10"></i>Buscar Amigo</label>
					                </div>
					            </form>
					        </div>
					        <ul class="pcoded-item pcoded-left-item">
					            <li class="pcoded-hasmenu active pcoded-trigger">
					                <a href="javascript:void(0)" class="waves-effect waves-dark">
					                    <span class="pcoded-micon"><i class="ti-id-badge"></i><b>A</b></span>
					                    <span class="pcoded-mtext">Páginas</span>
					                    <span class="pcoded-mcaret"></span>
					                </a>
					                <ul class="pcoded-submenu">
					                    <li class="">
					                        <a href="nuevocliente" class="waves-effect waves-dark">
					                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
					                            <span class="pcoded-mtext">Registro Cliente</span>
					                            <span class="pcoded-mcaret"></span>
					                        </a>
					                    </li>
					                    <li class="">
					                        <a href="listarclientes" class="waves-effect waves-dark">
					                            <span class="pcoded-micon"><i class="ti-layout-sidebar-left"></i><b>S</b></span>
					                            <span class="pcoded-mtext">Lista Clientes</span>
					                            <span class="pcoded-mcaret"></span>
					                        </a>
					                    </li>
					                    <li class="">
					                        <a href="pedido" class="waves-effect waves-dark">
					                            <span class="pcoded-micon"><i class="ti-layout-sidebar-left"></i><b>S</b></span>
					                            <span class="pcoded-mtext">Pedido</span>
					                            <span class="pcoded-mcaret"></span>
					                        </a>
					                    </li>
					                     <li class="">
					                        <a href="detalle" class="waves-effect waves-dark">
					                            <span class="pcoded-micon"><i class="ti-layout-sidebar-left"></i><b>S</b></span>
					                            <span class="pcoded-mtext">Detalle</span>
					                            <span class="pcoded-mcaret"></span>
					                        </a>
					                    </li>
					                    <li class="">
					                        <a href="categoria" class="waves-effect waves-dark">
					                            <span class="pcoded-micon"><i class="ti-layout-sidebar-left"></i><b>S</b></span>
					                            <span class="pcoded-mtext">Categoría</span>
					                            <span class="pcoded-mcaret"></span>
					                        </a>
					                    </li>
					                    <li class="">
					                        <a href="producto" class="waves-effect waves-dark">
					                            <span class="pcoded-micon"><i class="ti-layout-sidebar-left"></i><b>S</b></span>
					                            <span class="pcoded-mtext">Productos</span>
					                            <span class="pcoded-mcaret"></span>
					                        </a>
					                    </li>
					                </ul>
					            </li>
					        </ul>
					    </div>
					</nav>
					
                    <div class="pcoded-content">
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">ACMEMODA</h5>
                                            <p class="m-b-0">La empresa ACMEMODA, encargada de vender ropa casual y formal para damas, caballeros, niños.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="index"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Dashboard</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page-body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            

                                            <div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="card text-center order-visitor-card">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Camiseta Polo</h6>
                                                                <h4 class="m-t-15 m-b-15"><i class="fa fa-usd m-r-15 text-c-red"></i>25,50</h4>
                                                                <p class="m-b-0">-48% por 24 Horas</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card text-center order-visitor-card">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Blusa rosada M&M</h6>
                                                                <h4 class="m-t-15 m-b-15"><i class="fa fa-usd m-r-15 text-c-green"></i>15,50</h4>
                                                                <p class="m-b-0">-36% por 6 Meses</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card bg-c-red total-card">
                                                            <div class="card-block">
                                                                <div class="text-left">
                                                                    <h4>BLUSAS</h4>
                                                                    <p class="m-0">15 %</p>
                                                                </div>
                                                                <span class="label bg-c-red value-badges">DESCUENTO</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card bg-c-green total-card">
                                                            <div class="card-block">
                                                                <div class="text-left">
                                                                    <h4>CAMISETAS</h4>
                                                                    <p class="m-0">20 %</p>
                                                                </div>
                                                                <span class="label bg-c-green value-badges">DESCUENTO</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card text-center order-visitor-card">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Zapatos niño Batman</h6>
                                                                <h4 class="m-t-15 m-b-15"><i class="fa fa-usd m-r-15 text-c-red"></i>10,50</h4>
                                                                <p class="m-b-0">-36% por 24 Horas</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="card text-center order-visitor-card">
                                                            <div class="card-block">
                                                                <h6 class="m-b-0">Blusa Niña Frozen</h6>
                                                                <h4 class="m-t-15 m-b-15"><i class="fa fa-usd m-r-15 text-c-green"></i>12,50</h4>
                                                                <p class="m-b-0">-36% por 6 Meses</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                        </div>
                                    </div>
                                    <!-- Page-body end -->
                                </div>
                                <div id="styleSelector"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<!-- PLANTILLA JQUERY EN EL FOOTER -->
	<footer layout:fragment="footer" th:replace="plantillaTema/footer :: footer"></footer>
</body>

</html>
