<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{plantillaTema/header}">

<head>
    <title>Pedido - Lista</title>
</head>

<body>
	<!-- PLANTILLA RELOAD -->
	<div th:replace="plantillaTema/preloader :: div"></div>
	
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            
			<!-- PLANTILLA BARRA DE NAVEGACIÓN SUPERIOR -->
            <nav layout:fragment="navbar" th:replace="plantillaTema/navbar :: nav"></nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
					
					<!-- PLANTILLA SIDEBAR IZQUIERDO -->
					<nav layout:fragment="sidebar" th:replace="plantillaTema/sidebar :: nav"></nav>

                    <div class="pcoded-content">
						
						
						
                        <!-- Page-header start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-8">
                                        <div class="page-header-title">
                                            <h5 class="m-b-10">Lista de pedidos</h5>
                                            <p class="m-b-0">Bienvenido a la sección de pedidos</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <a href="index"> <i class="fa fa-home"></i> </a>
                                            </li>
                                            <li class="breadcrumb-item"><a href="#!">Pedido - Lista</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Page-header end -->
                        
                        
                        
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Aquí puedes ver la fecha de los pedidos de los clientes.</h5>
                                                        <span></span>
														
														<!-- PLANTILLA DE OPCIONES -->
														<div th:replace="plantillaTema/options :: div"></div>

														
														
														<!-- INICIO -->
														<span>
															<a th:href="@{/nuevopedido}" class="btn btn-primary btn-xs waves-effect waves-light" data-align="center">
																<i class="fa fa-google-wallet"></i>
																Crear nuevo pedido
															</a>
														</span>
														
														<table class="table">
														  <thead>
														    <tr>
																<th scope="col">#</th>
															    <th scope="col">Fecha</th>
															    <th scope="col">Estado</th>
																<th scope="col">Editar / Eliminar</th>
														    </tr>
														  </thead>
														  <tbody>
															<tr th:each="pedido: ${lista}">
															    <td th:text = "${pedido.idPedido}"></td>
																<td th:text = "${pedido.fecha}"></td>
																<td th:text = "${pedido.estado}"></td>
															    <td>
																	<a 	th:href="@{/editarpedido/}+ ${pedido.idPedido}" 
																		class="btn btn-success btn-xs waves-effect waves-light">
																		<i class="fa fa-edit"></i>
																	</a>
																	<a 	th:href="@{/eliminarpedido/}+ ${pedido.idPedido}"
																		class="btn btn-danger btn-xs waves-effect waves-light"
																		onclick="return confirm('¿Esta seguro que desea eliminar?')">
																		<i class="fa fa-trash"></i>
																	</a>
																</td>
														    </tr>
														  </tbody>
														</table>
														<!-- FIN -->
														
														
														
													</div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>
                </div>
            </div>
        </div>
    </div>
    
	<!-- PLANTILLA JQUERY EN EL FOOTER -->
	<footer layout:fragment="footer" th:replace="plantillaTema/footer :: footer"></footer>
</body>

</html>